body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: black;
    max-width: 800px;
    margin:0 auto;
    padding: 50px 30px 30px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 2.0rem;
}

header {
    margin-bottom: 50px;
}

input[type='text'] {
    margin-bottom: 0;
}

main {
    margin-bottom: 50px;
}

.ad {
    margin: 20px 0;
}
